
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body {
    background: url("../images/doctor_space.png") no-repeat center center fixed;
    background-size: 100% 100%;

    background-position: center;
    background-repeat: no-repeat;
}
.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110VH;
    background: rgb(39,39,39,0.3);

}

.sidebar-header h2{
    position:fixed;
    /*position: absolute; /* or use relative/fixed depending on layout */
    top: 40px;
    color:white;
    font-size: 30px;
    font-weight: 750;
    left: 230px;

}
.sidebar-header p{
    color:  rgba(13, 152, 99,0.7);
    font-family: "Helvetica Neue", sans-serif;
  font-size: 1.1em;
  letter-spacing: 0.05em; /* Slightly increase letter spacing for a modern feel */
  margin-bottom: 0.8em;
}